/* =============================================
  #Section
===============================================*/
.section {
  padding: 15px 0 0;
}

.section:last-child {
  padding-bottom: 15px;
}

.section.topless {
  padding-top: 0;
}

.section .icon-thumb,
.section .img-thumb {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.section .img-thumb {
  background-color: #fff;
  border: 1px solid #cb9406;
  border-radius: 4px;

  margin-bottom: 8px;

  max-height: 312px;
}

.section .img-thumb .square {
  width: 82px;
  height: 160px;

  z-index: 1;

  position: absolute;
  right: 0;
  bottom: 0;
}

.section .icon-thumb img {
  max-width: 120px;
}

.section .icon-thumb img.s-size {
  width: 60px;
}

.section .card {
  /* padding: 8px 12px; */
  border-radius: 0px 40px;
  margin: 0 0 16px;
}

.section-media {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  min-height: calc(100vh - 70px);

  position: relative;
}

.overlay {
  background: rgba(255, 255, 255, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 214px;
  height: 100%;

  position: absolute;
  top: 0;
  right: 0;
}

.overlay.pos-center {
  height: 238px;
  width: 100%;

  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.overlay.pos-bottom {
  height: 238px;
  width: 100%;

  top: auto;
  bottom: 0;
  left: 0;
}

.overlay.bg-blue {
  background: rgba(7, 74, 145, 0.5);
}

.overlay.bg-green {
  background: rgba(0, 130, 68, 0.5);
}

/* =============================================
  # Media
===============================================*/
@media (min-width: 768px) {
  /* Begin section */
  .section {
    padding: 0;
  }

  .section:last-child {
    padding-bottom: 0;
  }

  .section .icon-thumb,
  .section .img-thumb {
    margin-bottom: 0;
  }

  .section .img-thumb {
    border: 0;
    border-radius: 0;

    overflow: visible;

    max-height: 100%;
  }

  .section .img-thumb .square {
    width: 130px;
    height: 286px;

    right: -75px;
  }

  .section .img-thumb img {
    max-height: 100vh;
  }

  .section .icon-thumb img {
    max-width: 100%;
  }

  .section .icon-thumb img.s-size {
    width: auto;
  }
  /* End section */
}
